


{% extends "base.html" %}

{% block page_content %}
    <body style="text-align:center;">
        <h1 style="color:blue; font-family:verdana; background-color:DarkGray;">James Clawson</h1>
            <p style="background-color:powderblue;" class="card-text">
                Hello my name is James Clawson. I am a junior studying computer <br>engineering 
                at Brigham Young University - Idaho. I'm pretty cool.
            </p>
        <button>Press me?</button><hr>
        <p style="text-align:left;">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1"> I can perform a backflip.</label><br>
            <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
            <label for="vehicle2"> I can perform a cheat/slant gainer.</label><br>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
            <label for="vehicle3"> I can perform an aerial.</label><br>
        </p>
    </body>
{% endblock %}